eurosat_metadata.csv
eurosat_metadata.txt
exploratory_notebooks/wandb/
exploratory_notebooks/models/*
exploratory_notebooks/best_model.pt
exploratory_notebooks/utils/__pycache__/
.env
*.pyc
exploratory_notebooks/new_architecture_simclr/models/*
exploratory_notebooks/new_architecture_simclr/wandb/*
exploratory_notebooks/yaware/__init__.py
exploratory_notebooks/yaware/models/*.pth
exploratory_notebooks/yaware/models/*.pkl
exploratory_notebooks/yaware/wandb/*
exploratory_notebooks/eurosat_project.egg-info/*
.vscode/settings.json
